* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The Navbar Css */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 650px;
    height: 25px;
    padding: 22px 25px ;
    margin-right: 350px;
    border-radius: 24px;

}

.search-bar > img {
    width: 92px;
    height: 30px;
}

.search-bar input[type=text]{
    width: 537px;
    height: 25px;
    border: 1px solid transparent;
    outline: none;
}

.search-bar > i {
    margin-left: 5px;
    color: #868b91;
    font-size: 22px;
}

.image-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 5px;
    border-left: 1px solid #5f6368;
    padding-left: 10px;
}

.image-icons > i {
    color: #8ab4f8;
    font-size: 18px;
}

.right-nav {
    display: flex;
    flex-direction: row;
} 

.right-nav > i {
    margin-right: 20px;
    color: #5f6368;
    font-size: 20px;
} 

/* The click section Css */

.click {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    margin: 10px 0 0 180px;
    color: #5f6368;
}

.click-on {
    display: flex;
    gap: 7px;
    text-decoration: underline solid #1a73e8 3px;
    text-underline-offset: 15px;
    color: #1a73e8;
}

.click-link {
    display: flex;
    gap: 7px;
}

.click-link i {
    margin: 0 0 0 20px;
    color: #5f6368;
}

.click-link .fa-magnifying-glass {
    margin: 0 0 0 20px;
    color: #1a73e8;
}

.reach {
    margin: 10px 0 0 195px;
    padding-top: 20px;
    color: #5f6368;
}