* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Google Sans,arial,sans-serif-medium,sans-serif;
}

hr {
    border-top: 1px solid #dadce0;
}

/* The Navbar Css */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 100%;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.search-bar {
    display: flex;
    align-items: center;
    box-shadow: rgba(77, 29, 29, 0.24) 0px 3px 8px;
    width: 650px;
    height: 25px;
    padding: 22px 25px ;
    /* margin-right: 350px; */
    border-radius: 24px;
}

.search-bar > img {
    width: 92px;
    height: 30px;
}

.search-bar input[type=text]{
    width: 537px;
    height: 25px;
    border: 1px solid transparent;
    outline: none;
}

.search-bar > i {
    margin-left: 5px;
    color: #868b91;
    font-size: 22px;
}

.image-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 5px;
    border-left: 1px solid #5f6368;
    padding-left: 10px;
}

.image-icons > i {
    color: #8ab4f8;
    font-size: 18px;
}

.right-nav {
    display: flex;
    flex-direction: row;
} 

.right-nav > i {
    margin-right: 20px;
    color: #5f6368;
    font-size: 20px;
} 

/* The click section Css */

.click {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    margin: 10px 0 0 180px;
    color: #5f6368;
}

.click-on {
    display: flex;
    gap: 7px;
    text-decoration: underline solid #1a73e8 3px;
    text-underline-offset: 15px;
    color: #1a73e8;
}

.click-link {
    display: flex;
    gap: 7px;
}

.click-link i {
    margin: 0 0 0 20px;
    color: #5f6368;
}

.click-link .fa-magnifying-glass {
    margin: 0 0 0 20px;
    color: #1a73e8;
}

.reach {
    margin: 10px 0 0 195px;
    padding-top: 20px;
    color: #5f6368;
}

.profile-sec {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 25px 0 0 195px;
    padding-bottom: 15px;
}

.profile-img img {
    height: 56px;
    border-radius: 5px;
}

.cr7-origin {
    display: flex;
    align-items: center;
    margin: 0 5px 0 0;
}

.cr7-origin p {
    margin: 0 15px 0 0;
}

.cr7-profile-links a {
    padding: 11px 19px;
    background-color: #e7e7ea;
    border-radius: 20px;
    text-decoration: none;
    color: #222324;
}

.cr7-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 20px 20px 20px;
}

.cr7-details {
    display: inline-block;
    padding-left: 170px;
    width:64%;
}

.cr7-img img:nth-child(1) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cr7-img img:nth-child(5) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-stories-txt {
    font-size: 22px;
    padding-top: 35px;
}

.cr7-news {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.cr7-news i {
    margin-left: 5px;
}

.cr7-top-stories {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.cr7-top-stories-left {
    padding-right: 10px;
}

.cr7-top-stories-left p {
    width: 70%;
}

.cr7-top-stories-left p a {
    text-decoration: none;
}

.cr7-ts-img-1 img {
    border-radius: 10px;
}

.cr7-ds-logo {
    padding: 5px;
}

.cr7-top-stories-right {
    border-left: 1px solid #dadce0;
    padding-left: 15px;
}

.cr7-ts-tr img {
    padding: 5px 0;
}

.cr7-ts-tr p a {
    text-decoration: none;
}

.cr7-top-stories-top-right-img img {
    border-radius: 10px;
}

.cr7-ts-p_1 {
    padding: 10px;
}

.cr7-top-stories-top-right {
    display: flex;
}

.cr7-top-stories-btm {
    display: flex;
    padding-top: 10px;
}

.cr7-top-stories-btm p a {
    text-decoration: none;
}

.cr7-ts-btm img {
    padding: 5px 0;
}

.cr7-top-stories-btm-img img {
    border-radius: 10px;
}

.news-abt-cr7 {
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 15px;
}

.about-cr7 {
    display: flex;
    padding: 15px 0;
    padding-bottom: 40px;
}

.about-cr7-left {
    display: flex;
    padding-right: 10px;
}

.about-cr7-left p a {
    text-decoration: none;
}

.about-cr7-left img {
    padding: 5px 0;
}

.about-cr7-left-img img {
    border-radius: 10px;
}

.about-cr7-1-p {
    padding-top: 30px;
}

.about-cr7-right {
    display: flex;
    border-left: 1px solid #dadce0;
    padding-left: 10px;
}

.about-cr7-right p a {
    text-decoration: none;
}

.about-cr7-right img {
    padding: 5px 0;
}

.about-cr7-right-img img {
    border-radius: 10px;
}

.more-news {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #f1f3f4;
}

.more-news a {
    text-decoration: none;
    color: #000;
}

.more-news i {
    margin: 0 15px;
}

.cr7-wiki {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
}

.cr7-wiki a {
    text-decoration: none;
    color: #000;
}

.cr7-wiki span {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    line-height: 1.3;
}

.cr7-wiki i {
    margin: 0 10px;
    color: #5f6368;
}

.cr7-wiki h3 {
    font-size: 20px;
    font-weight: 400;
}

.cr7-wiki h3 {
    color: #1a0dab;
}

.cr7-wiki h3:hover {
    color: #1a0dab;
    text-decoration: underline;
}

.wiki-link a {
    color: #1a0dab;
}

.wiki-link a:hover {
    color: #1a0dab;
    text-decoration: underline;
}

/* People also search for section */

.ppl-search {
    width: 90%;
    border: 1px solid #dadce0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

.search-line-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.search-line-1 i {
    font-size: 12px;
    color: #5f6368;
}

.search-line-1 h4 {
    color: #5f6368;
}

.search-list td {
    padding: 2px 20px;
    font-size: 14px;
}

.search-list a {
    text-decoration: none;
    color: #1a0dab;
}

.search-list a:hover {
    text-decoration: underline;
}

.cr7-ask-top-text {
    color: #000;
    font-size: 22px;
    line-height: 24px;
    padding: 40px 0 10px 0;
}

.cr7-ask-top-text-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
}

.cr7-ask-top-text-1 i {
    color: #868b91;
}

.feedback {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    bottom: 10px;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    width: 80px;
    height: 20px;
    background-color: #fff;
}

.feedback-top {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.feedback a {
    text-decoration: none;
    color: #868b91;
}

.feedback a:hover {
    text-decoration: underline;
}

.feedback i {
    margin: 0 15px;
}

.cr7-official {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.cr7-official a {
    text-decoration: none;
    color: #000;
}

.cr7-official span {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    line-height: 1.3;
}

.cr7-official i {
    margin: 0 20px;
    color: #5f6368;
}

.cr7-official h3 {
    font-size: 20px;
    font-weight: 400;
}

.cr7-official h3 {
    color: #1a0dab;
}

.cr7-official h3:hover {
    color: #1a0dab;
    text-decoration: underline;
}

.cr7-video-txt {
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-bottom: 10px;
}

.cr7-video-txt span {
    color: #000;
}

.cr7-video-txt a {
    text-decoration: none;
}

.cr7-video-txt a:hover {
    color: #1a0dab;
}

.cr7-video-txt i {
    margin: 0 10px;
    font-size: 14px;
    color: #868b91;
}

.cr7-video-link:hover span, .cr7-video-link:hover i {
    color: #1a0dab;
}

/* Video section */

.cr7-video-play {
    display: flex;
    gap: 30px;
    padding: 10px 0;
}

.cr7-video-play-vid, video {
    width: 124px;
    height: 70px;
    border-radius: 5px;
}

.cr7-video-play-txt-dwn {
    padding-top: 13px;
}

.cr7-video-play-txt a {
    color: #1a0dab;
    text-decoration: none;
}

.cr7-video-play-txt-up p:hover {
    text-decoration: underline;
}

.cr7-video-play-txt-dwn p {
    padding: 2px 0;
    font-size: 14px;
    color: #5f6368;
}

.cr7-video-play-txt-dwn span {
    color: #000;
}

/* 2 */

.cr7-video-play-btm {
    display: flex;
    gap: 30px;
    padding: 10px 0 35px 0;
}

.cr7-video-play-vid, video {
    width: 124px;
    height: 70px;
    border-radius: 5px;
}

.cr7-video-play-txt-dwn {
    padding-top: 13px;
}

.cr7-video-play-txt a {
    color: #1a0dab;
    text-decoration: none;
}

.cr7-video-play-txt-up p:hover {
    text-decoration: underline;
}

.cr7-video-play-txt-dwn p {
    padding: 2px 0;
    font-size: 14px;
    color: #5f6368;
}

.cr7-video-play-txt-dwn span {
    color: #000;
}

/* View all */

.view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #f1f3f4;
}

.view-all a {
    text-decoration: none;
    color: #000;
}

.view-all i {
    margin: 0 15px;
}

/* Cr7 Twitter */

.cr7-twitter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.cr7-twitter a {
    text-decoration: none;
    color: #000;
}

.cr7-twitter i {
    margin: 0 20px;
    color: #5f6368;
}

.cr7-twitter h3 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.cr7-twitter h3 {
    color: #1a0dab;
}

.cr7-twitter h3:hover {
    color: #1a0dab;
    text-decoration: underline;
}

/* twitter card */

.cr7-twitter-card {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.cr7-twitter-card-1 {
    border: 1px solid #c8cdd1;
    border-radius: 10px;
}

.cr7-twitter-card-txt {
    padding: 10px;
    font-size: 14px;
    color: #5f6368;
}

.cr7-twitter-card-txt p {
    line-height: 20px;
}

.cr7-twitter-card-txt-end-1 {
    padding-top:140px;
}

.cr7-twitter-card-txt-end-2 {
    padding-top: 80px;
}

.cr7-twitter-card-txt-end-3 {
    padding-top: 60px;
}

.cr7-twitter-card-txt p span {
    color: #000;
}

.cr7-twitter-card-img-1 {
    display: flex;
}

.cr7-twitter-card-img-1 img:nth-child(1) {
    border-top-left-radius: 10px;
}

.cr7-twitter-card-img-1 img:nth-child(2) {
    border-top-right-radius: 10px;
}

.cr7-twitter-card-img-2 img {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cr7-twitter-card-img-3 img {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Cr7 News section */

.cr7-newspost {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}

.cr7-newspost-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
}

.cr7-newspost-left a {
    text-decoration: none;
    color: #000;
}

.cr7-newspost-left span {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    line-height: 1.3;
}

.cr7-newspost-left i {
    margin: 0 10px;
    color: #5f6368;
}

.cr7-newspost-left h3 {
    font-size: 20px;
    font-weight: 400;
}

.cr7-newspost-left h3 {
    color: #1a0dab;
}

.cr7-newspost-left h3:hover {
    color: #1a0dab;
    text-decoration: underline;
}

.cr7-newspost-left-link {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 80%;
}

.cr7-newspost-left p span {
    color: rgb(22, 22, 22);
}

.cr7-newspost-right-img img {
    border-radius: 10px;
}

.related-search-container span {
    font-weight: 400;
    line-height: 28px;
    font-size: 22px;
    color: #202124;
}

.related-search-container span i {
    font-size: 16px;
    color: #5f6368;
    margin-left: 15px;
    padding-bottom: 10px;
}

.related-search-accd-first {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 16px;
}

.related-search-accd-first i {
    color: #868b91;
}

.related-search-img-wrapper {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 8px;
}

.related-search-img {
    text-align: center;
    padding-bottom: 50px;
}

.related-search-img a {
    color: #202124;
    font-size: 14px;
    font-family: arial,sans-serif;
    line-height: 19px;
    text-decoration: none;
}

.related-search-img a:hover {
    text-decoration: underline;
}

.related-search-img img {
    border-radius: 10px;
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #f1f3f4;
}

.see-more:hover {
    background-color: #d9dcdd;
}

.see-more a {
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.see-more i {
    margin: 0 15px;
}

.related-search-accd-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 10px 0;
    font-size: 16px;
}

.related-search-accd-sec img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.related-search-accd-sec i {
    color: #868b91;
}

.related-search-accd-sec a {
    text-decoration: none;
    color: #000;
}

.related-search-accd-sec-fst {
    display: flex;
    align-items: center;
}

.cr7-seh-container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.cr7-seh-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.cr7-seh-wrapper-1st {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 100px;
    height: 50px;
    width: 320px;
}

.cr7-seh-wrapper-1st i {
    margin: 0 30px;
    color: #5f6368;
}

.cr7-seh-wrapper-1st a {
    text-decoration: none;
    color: #000;
}

.cr7-seh-wrapper-1st a:hover {
    text-decoration: underline;
}

/* Google Page Nav */

.page-nav {
    display: flex;
    justify-content: center;
}

.page-nav-num {
    margin-top: 28px;
}

.page-nav-num img {
    margin-top: 28px;
}

.page-nav-num a {
    text-decoration: none;
    color: #1a0dab;
}

.page-nav-num a:hover {
    text-decoration: underline;
}

.page-nav-num p {
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    text-align: center;
}

.page-nav-gle {
    margin-top: 28px;
}

.page-nav-gle img {
    margin-top: 28px;
}

.page-nav-gle a {
    text-decoration: none;
    color: #1a0dab;
}

.page-nav-gle a:hover {
    text-decoration: underline;
}

.page-nav-gle p {
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    text-align: end;
}


/* About section */

.cr7-about {
    border-left: #dadce0 solid 1px;
    width: 28%;
    height: fit-content;
    margin-left: 60px;
    padding-left: 20px;
}

.cr7-about-head-txt div {
    font-size: 18px;
    line-height: 24px;
    color: #202124;
    padding-bottom: 20px;
}

.cr7-about-globe-link {
    padding-bottom: 20px;
}

.cr7-about-globe-link div {
    border: 1px solid #dadce0;
    border-radius: 16px;
    color: #202124;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 7px 12px;
    font-size: 14px;
}

.cr7-about-globe-link div a {
    text-decoration: none;
    color: #202124;
}

.cr7-about-globe-link div a:hover {
    text-decoration: underline;
}

.cr7-about-globe-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #1a73e8;
}

.cr7-about-profile {
    padding-bottom: 10px;
}

.cr7-about-profile span {
    line-height: 1.58;
    color: #4d5156;
    font-size: 14px;
}

.cr7-about-profile span a {
    color: #1a0dab;
    text-decoration: none;
}

.cr7-about-profile span a:hover {
    text-decoration: underline;
}

.cr7-about-profile-dob {
    padding-bottom: 10px;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}

.cr7-about-profile-dob-txt .cr7-about-profile-bold {
    color: #000;
    font-weight: bolder;
}

.cr7-about-profile-dob-txt span a {
    text-decoration: none;
    color: #1a0dab;
}

.cr7-about-profile-dob-txt span a:hover {
    text-decoration: underline;
}

/*  */

.cr7-about-claim {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cr7-about-claim p {
    cursor: pointer;
    text-align: right;
    color: #70757a;
    font-size: 12px;
    line-height: 16px;
}

.cr7-about-claim-link {
    padding-bottom: 20px;
}

.cr7-about-claim-link div {
    border: 1px solid #dadce0;
    border-radius: 16px;
    color: #202124;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 7px 12px;
    font-size: 14px;
}

.cr7-about-claim-link div:hover {
    background-color: #f8f8f8;
}

.cr7-about-claim-link div a {
    text-decoration: none;
    color: #202124;
}


.cr7-about-claim-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #1a73e8;
}

.cr7-about-profiles .cr7-about-profiles-tx {
    font-size: 18px;
    line-height: 24px;
    color: #202124;
    padding-top: 15px;
    padding-bottom: 20px;
}

.cr7-about-profiles-socials {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.cr7-about-profiles-socials img {
    border-radius: 10px;
}

.cr7-about-profiles-socials p {
    padding-top: 5px;
    color: #202124;
    font-size: 14px;
    line-height: 1.34;
}

.cr7-about-profiles-socials a {
    text-decoration: none;
}

.cr7-about-profiles-socials a:hover {
    text-decoration: underline;
}

.cr7-about-profiles-stats a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.cr7-about-profiles-stats .cr7-about-profiles-stats-tx {
    font-size: 18px;
    line-height: 24px;
    color: #202124;
    padding-top: 15px;
    padding-bottom: 20px;
}

.cr7-about-profiles-stats .cr7-about-profiles-stats-tx:hover {
    text-decoration: underline;
}

.cr7-about-profiles-stats-cir {
    border: 1px solid rgb(204, 204, 204);
    height: 32px;
    width: 32px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5f6368;
}

.cr7-about-profiles-stats-cir:hover {
    background-color: #f8f8f8;
}

.cr7-about-profiles-stats-cir i {
    font-size: 12px;
    margin: auto;
}

.cr7-about-alnassr {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 15px;
}

.cr7-about-alnassr a {
    color: #202124;
}

.cr7-about-alnassr a:hover {
    text-decoration: underline #1a0dab;

}

.cr7-about-profiles-stats table {
    font-weight: lighter !important;
    font-size: 14px;
    width: 100%;
    padding-bottom: 30px;
}

.table-hr {
    background-color: #dadce0;
    height: 1px;
}

.cr7-about-profiles-stats td div {
    margin: 5px 0;
}

.cr7-about-profiles-stats td a {
    color: #000;
}

.cr7-about-profiles-stats td a:hover {
    text-decoration: underline #1a0dab;
}

.table-fnt {
    font-size: 12px;
    color: #70757a;
}

.people-search {
    padding-bottom: 40px;
}

.people-search
.people-search-hr {
    font-size: 18px;
    line-height: 24px;
    color: #202124;
    padding-top: 15px;
    padding-bottom: 20px;
}

.people-search-img {
    display: flex;
    gap: 10px;
}

.people-search-img img {
    border-radius: 8px;
}

.people-search-img a {
    color: #202124;
    font-size: 14px;
    font-family: arial,sans-serif;
    line-height: 19px;
    white-space: normal;
    text-decoration: none;
}

.people-search-img a:hover {
    text-decoration: underline;
}

.people-search-img a span {
    font-size: 14px;
    color: #70757a;
}

.see-more-abt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #f1f3f4;
}

.see-more-abt:hover {
    background-color: #d9dcdd;
}

.see-more-abt a {
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.see-more-abt i {
    margin: 0 15px;
    color: #868b91;
}

/* Footer */

.footer-container {
    background-color: #f2f2f2;
    padding-bottom:20px;
}

.footer-container-tp {
    display: flex;
    padding-left: 100px;
    padding-top: 15px;
    gap: 10px;
    border-bottom: 2px solid #d8d9db;
}

.footer-container-tp a {
    text-decoration: none;
    color: #1a0dab;
}

.footer-container-tp span {
    color: #5f6368;
}

.footer-ng {
    border-right: 2px solid #d8d9db;
    padding-right: 20px;
}



.footer-container-cr {
    margin: 6px 4px 9px 0;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 10px;
    background-color: #70757a;
}

.footer-container-bt {
    display: flex;
    padding: 5px 0;
    gap: 35px;
    padding-left: 100px;
    padding-top: 15px;
}

.footer-container-bt a {
    text-decoration: none;
    color: #70757a;
}

.footer-container-bt a:hover {
    color: #535151;
}